body {
    background-color: #fff;
    color: #5C4C46;
}
  
.container {
    width: min(100% - 30px, 1200px);
    margin-inline: auto;
}

header {
    background-color: #FCFBFC;
    border-bottom: 3px solid #E8E8E8;
}

.grid {
    display: grid;
}

.header {
    grid-template-columns: 2fr 6fr 2fr;
    height: 80px;
    line-height: 80px;
}

.page-title {
    font-size: 30px;
    font-weight: 700;
    color: #000;
    cursor: pointer;
    font-family: 'PT Serif', serif;
}

.head-nav {
    font-size: 22px;
    font-weight: 500;
    text-align: center;
    color: #A69F9A;
    grid-template-columns: 25% 25% 25% 25%;
}

.head-nav div {
    cursor: pointer;
}


.head-nav div:hover {
    color: #5C4C46;
}

.head-icons {
    grid-template-columns: 33% 33% 33%;
    justify-items: end;
    align-items: center;
}

.head-icon img {
    height: 25px;
    width: auto;
    cursor: pointer;
}

.banner {
    height: calc(100vh - 83px);
    align-items: center;
}

.banner-title {
    font-size: 50px;
    text-align: center;
    font-weight: 600;
}

.banner-text {
    font-size: 22px;
    padding-top: 50px;
}

.banner-buttons {
    padding-top: 50px;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.banner-btnl {
    grid-template-columns: 1fr;
    justify-items: end;
}

.primary-btn {
    background-color: #FFAB7C;
    color: #fff;
    text-align: center;
    border-radius: 30px;
    font-size: 22px;
    padding: 15px 0;
    width: 200px;
    cursor: pointer;
}

.banner-btnr {
    grid-template-columns: 1fr;
    justify-items: start;
}

.secondary-btn {
    color: #FFAB7C;
    text-align: center;
    border-radius: 30px;
    font-size: 22px;
    padding: 15px 0;
    width: 200px;
    border: 1px solid #FFAB7C;
    cursor: pointer;
}

.gallery-color {
    background-color: #F5F5F5;
    padding: 100px 0;
}

.gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
}

.gallery img {
    cursor: pointer;
}

footer {
    background-color: #242424;
    color: #D9D9D9;
    height: 300px;
}

.footer {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    padding-top: 50px;
}

.footer-name {
    font-size: 50px;
}

.fooot-tag {
    font-size: 18px;
}

.footer2 {
    font-size: 18px;
    line-height: 45px;
}

.footer2 div {
    cursor: pointer;
}